body {
    @extend %jMed;
    color: $cReg;
    font-size: 18px;
    line-height: 29px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.get-started-btn {
    width: 207px;
    color: #FFF;
    line-height: 24px;
    text-align: center;
    padding: 13px;
    border-radius: 25px;
    background: linear-gradient(130deg, #4499D9 0%, #6E6CC1 100%);

    &--header {
        width: 180px;
        background: linear-gradient(137deg, #4499D9 0%, #7367BE 100%);
    }
}