@media(max-width: 1400px){
    .hero{
        &__product-card--right{
            left: -40px;
            right: initial;
        }
    }

    .about-vr{
        &::before{
            display: none;
        }
    }
}

@media(max-width: 1200px){
    .about-consoles{
        &__right{
            flex-shrink: 2;
        }

        &__right-img{
            max-width: 80%;
        }

        &__right-img-screw{
            max-width: 130px;
            max-height: 140px;
            top: 15%;
            left: 40%;
        }

        &__right-img-screw-small{
            max-width: 50px;
            max-height: 50px;
        }

        &__right-img-screw-big{
            max-width: 95px;
            max-height: 95px;
        }
    }

    .pricing{
        &__list{
            align-items: stretch;
        }
    }
}

@media(max-width: 1100px){
    .hero{
        &__right{
            max-width: 45%;
            max-height: 520px;
        }
    }

    .about-vr{
        &__left{
            max-width: 40%;
            width: 100%;
        }

        &__left-img-bg{
            max-width: 100%;
            max-height: 50vh;
        }

        &__left-img{
            max-width: 95%;
            max-height: 47vh;
            left: 30px;
        }
    }
}

@media(max-width: 940px) {
    .burger-menu {
        position: relative;
        display: block;
        color: transparent;
        padding: 15px;
        border: none;
        cursor: pointer;
        overflow: hidden;
        max-width: 95px;
        max-height: 54px;
        width: 100%;
        height: 100vh;

        &__svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .title{
        max-width: 360px;
        font-size: 50px;
        line-height: 50px;

        &--accent{
            font-size: 45px;
        }
    }

    .header {
        &__inner {
            align-items: center;
        }

        &__logo {
            max-width: 250px;
        }

        &__nav {
            display: none;
        }
    }

    .hero{
        &__subtitle{
            &::after{
                left: 200px;
                width: 70px;
                height: 70px;
            }
        }
    }

    .about-consoles{
        &__right-img-screw{
            max-width: 95px;
            max-height: 95px;
            top: 25%;
            left: 35%;
        }

        &__right-img-screw-small{
            max-width: 30px;
            max-height: 30px;
        }

        &__right-img-screw-big{
            max-width: 60px;
            max-height: 60px;
        }
    }

    .pricing{
        &__list{
            padding-top: 0;
        }
    }

    .pricing>.container>.pricing__title{
        max-width: 100%;
    }

    .pricing-plan{
        padding: 25px;

        &__title{
            font-size: 20px;
        }

        &__title-price-wrapper{
            margin: 0;
        }

        &__title-price{
            font-size: 35px;
            line-height: 35px;
        }

        &__list{
            margin-bottom: 30px;
        }

        &__list-item+.pricing-plan__list-item{
            margin-top: 10px;
        }
    }

    .footer{
        &__inner{
            flex-direction: column;
            gap: 25px;
        }

        &__socials{
            order: -1;
        }
    }
}

@media(max-width: 700px){
    .hero-bg-dots{
        display: none;
    }

    .hero{
        gap: 40px;
        margin-top: 50px;
        flex-direction: column;
        overflow: hidden;

        &__right{
            max-width: 60%;
        }

        &__product-card{
            top: 5px;

            &--right{
                bottom: initial;
                left: initial;
                right: -95px;
            }
        }
    }

    .about-vr{
        &__wrapper{
            flex-direction: column;
            justify-content: flex-start;
        }

        &__left{
            max-width: 100%;
        }

        &__right{
            order: -1;
        }
    }

    .about-consoles{
        &__inner{
            flex-direction: column;
            justify-content: flex-start;
            gap: 5px;
        }

        &__right-img-bg{
            max-height: 50vh;
        }

        &__right-img{
            max-height: 80%;
            bottom: 0;
        }
    }

    .pricing{
        padding: 50px 0;

        &__list{
            flex-direction: column;
            align-items: center;
        }
    }
}

@media(max-width: 550px){
    .hero{
        &__product-card{
            left: 35%;
            transform: translateX(-50%);

            &--right{
                left: initial;
                right: -50%;
                top: initial;
                bottom: 100px;
            }
        }
    }
}

@media(max-width: 450px) {
    .title{
        max-width: 280px;
        font-size: 40px;
        line-height: 40px;

        &--accent{
            font-size: 35px;
        }
    }

    .header{
        &__logo {
            max-width: 150px;
        }
    }

    .hero-bg-cross2{
        display: none;
    }

    .hero{
        &__right{
            max-height: initial;
            height: initial;
            position: initial;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__right-img-bg,
        &__right-img{
            display: none;
        }

        &__product-card,
        &__product-card--right{
            width: 100vh;
            position: initial;
            right: initial;
            bottom: initial;
            top: initial;
            left: initial;
            transform: initial;
        }
    }

    .about-vr{
        &__wrapper{
            gap: 5px;
        }

        &__right{
            &::before{
                display: none;
            }
        }

        &__text{
            &::before{
                bottom: -70px;
                left: 70%;
            }
        }
    }
}

@media(max-width: 350px){
    body{
        font-size: 17px;
        line-height: 27px;
    }

    .title{
        max-width: 250px;
        font-size: 35px;
        line-height: 35px;

        &--accent{
            font-size: 30px;
        }
    }

    .hero{
        &__subtitle{
            &::after{
                left: 190px;
                width: 50px;
                height: 50px;
            }
        }
    }

    .about-vr{
        &__left{
            max-width: 80%;
        }

        &__text{
            &::before{
                display: none;
            }
        }
    }

    .about-consoles{
        &__text::before{
            display: none;
        }
    }
}