%qBold{
    font-family: 'Qanelas Bold';
    font-weight: 700;
}

%jMed{
    font-family: 'Josefin Medium';
    font-weight: 500;
}

%jBold{
    font-family: 'Josefin Bold';
    font-weight: 700;
}

$cReg: #826F8C;
$cDark: #446381;
$cAcc: #EB8382;