@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../images/dist/hero-bg.png');
}

.hero-bg-blot {
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: -1vw;
    top: 38vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/dist/hero-bg-blot.png');
}

.hero-bg-cross1 {
    position: absolute;
    left: 0;
    top: 30vh;
    transform: translateX(-40%);
    width: 112px;
    height: 112px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/dist/sprite-stack.svg#hero-cross-1');
}

.hero-bg-cross2 {
    position: absolute;
    left: 30vw;
    top: 70vh;
    width: 118px;
    height: 118px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/dist/sprite-stack.svg#hero-cross-2');
}

.hero-bg-dots {
    position: absolute;
    right: 2vw;
    top: 40vh;
    width: 123px;
    height: 123px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/dist/sprite-stack.svg#hero-dots');
}

.header {
    margin-top: 10px;
    color: $cDark;
    line-height: 24px;
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        max-width: 286px;
        width: 100%;
    }

    &__nav-list {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }

    &__nav-list-item-link {
        padding: 15px;
    }
}

.hero {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 30px;

    &__left {
        width: fit-content;
    }

    &__subtitle {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 130px;
            height: 130px;
            left: 210px;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url('../images/dist/sprite-stack.svg#hero-double-arrow');
        }
    }

    &__right {
        max-width: 568px;
        max-height: 584px;
        width: 100%;
        height: 100vh;
        position: relative;
        left: -30px;
    }

    &__right-img-bg,
    &__right-img {
        max-width: 568px;
        max-height: 584px;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
    }

    &__right-img-bg {
        max-width: 588px;
        max-height: 538px;
        bottom: -30px;
        right: -20px;
        background-image: url('../images/dist/sprite-stack.svg#hero-person-bg');
    }

    &__right-img {
        bottom: 0;
        right: 0;
        background-image: url('../images/dist/sprite-stack.svg#hero-person');
    }

    &__product-card {
        background: rgba(255, 255, 255, .4);
        border-radius: 10px;
        max-width: 212px;
        width: 100%;
        position: absolute;
        left: -40px;
        top: -30px;
        overflow: hidden;
        filter: drop-shadow(0px 10px 20px rgba(235, 131, 130, 0.40));

        &--right {
            left: initial;
            top: initial;
            right: -120px;
            bottom: -25px;
        }
    }
}

.about-vr {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/dist/about-vr-bg-main.png');

    &::before {
        content: '';
        position: absolute;
        max-width: 440px;
        max-height: 915px;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../images/dist/about-vr-bg-1.png');
    }

    &__wrapper {
        position: relative;
        display: flex;
        gap: 60px;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        position: relative;
    }

    &__left-img-bg {
        position: relative;
        max-width: 557px;
        width: 100vw;
        max-height: 565px;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/dist/sprite-stack.svg#about-vr-person-bg');
    }

    &__left-img {
        position: absolute;
        left: 50px;
        top: 0;
        max-width: 500px;
        width: 100%;
        max-height: 587px;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../images/dist/sprite-stack.svg#about-vr-person');
    }

    &__right {
        width: fit-content;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            max-width: 528px;
            max-height: 293px;
            height: 100%;
            width: 100%;
            bottom: 0;
            right: 0;
            transform: translateY(60%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url('../images/dist/about-vr-bg-vr.png');
        }
    }

    &__text{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 33px;
            height: 33px;
            bottom: -40px;
            left: 50%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../images/dist/sprite-stack.svg#arrow-left');
        }
    }
}

.about-consoles{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/dist/about-consoles-bg.png');

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__text{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 33px;
            height: 33px;
            bottom: -40px;
            right: 11%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../images/dist/sprite-stack.svg#arrow-left');
        }
    }

    &__right{
        position: relative;
        max-width: 634px;
        width: 100%;
    }

    &__right-img-bg{
        width: 100%;
        max-height: 566px;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/dist/sprite-stack.svg#about-consoles-main-img-bg');
    }

    &__right-img,
    &__right-img-screw-small,
    &__right-img-screw-big{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__right-img{
        max-width: 510px;
        max-height: 566px;
        left: 0;
        bottom: -11%;
        background-image: url('../images/dist/sprite-stack.svg#about-consoles-main-img');
    }

    &__right-img-screw-small{
        max-width: 83px;
        max-height: 83px;
        left: 40%;
        top: 25%;
        background-image: url('../images/dist/sprite-stack.svg#about-consoles-main-img-screw-small');
    }

    &__right-img-screw-big{
        max-width: 136px;
        max-height: 136px;
        right: 30%;
        top: 10%;
        background-image: url('../images/dist/sprite-stack.svg#about-consoles-main-img-screw-big');
    }
}

.pricing{
    padding: 50px 0 90px;

    &__title{
        max-width: 100%;
        text-align: center;
    }

    &__list{
        padding-top: 25px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item{
        max-width: 360px;
        width: 100%;
    }
}